body {
    /* your styles here */
    font-family: 'Courier New';
  }
  
  h1, #designed-by {
    /* your styles here */
    text-align: center;
    color: blue;
  }
  
  .style1 {
    background-color: #8895b3;
  }
  
  .style2 {
    background-color: #8e94f2;
  }
  
  .style3 {
    background-color: #9fa0ff;
  }
  
  .style4 {
    background-color: #bbadff;
  }
  
  .style5 {
    background-color: #dab6fc;
  }
  
  .style6 {
    background-color: #8a4f7d;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }